/*start public*/
body{
  font-family: 'Roboto';
  height:1000px;
  overflow: hidden;
}
@font-face{
    src:url(..Roboto/Roboto-Thin.ttf);
    font-family: 'Roboto', sans-serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.list-item{
    list-style-type:none;
}
a{
    text-decoration: none;
}
/*end public*/

/* start loading screen */
#loading{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 9999999999;
background-color: #fff;
display: flex;
}

    .sk-cube-grid {
        width: 40px;
        height: 40px;
        margin: 100px auto;
      }
      
      .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #333;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
                animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
      }
      .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
                animation-delay: 0s; }
      .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      
      @-webkit-keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1);
        } 35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1); 
        }
      }
      
      @keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1);
        } 35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1);
        } 
      }

/* end loading screen */

/* start Navbar & Header Section */
/*nav*/
.nav{
    padding-left: 150px;
     width: 100%;
     z-index:999;
 }
 .nav .logo img{
     width: 200px;
     height: auto;
 }
 .nav .fa-bars{
     font-size: 30px;
     display: none;
     color:#fff;
     margin-top:30px;
 }
 .nav  .list-item {
     max-width: 720px;
     display: flex;
     justify-content:space-between;
     margin-top:20px;
     flex-grow: 1;
     margin-left: auto;
     margin-right: 50px;
}
 
     .nav .list-item .item{
     margin-top: 13px;
     display: flex;
     flex-flow: row nowrap;
     margin-right: auto;
     
 }
 

 nav .list-item  .item a{
     font-family:Metropolis Extra Light;
     color:#fff;
     font-size: 20px;
     font-weight:700;
     letter-spacing: 0;
     background-image: linear-gradient(to right, #fff 50%, #fff 50%);
     background-size: 200% 100%;
     background-position: -100%;
     display: inline-block;
     padding: 5px 0;
     position: relative;
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: all 0.3s ease-in-out;
 }
 
 
 nav .list-item  .item a:before {
     content: '';
     background: #fff;
     display: block;
     position: absolute;
     bottom: -3px;
     left: 0;
     width: 0;
     height: 3px;
     transition: all 0.3s ease-in-out;
 }
 nav .list-item  .item a:hover {
     background-position: 0;
 }
 nav .list-item  .item a:hover::before {
     width: 100%;
 }
 
 .loginBtn{
    margin-top: 13px;
    display: flex;
    flex-flow: row nowrap;
    margin-right: auto;
    
}
nav .list-item  .loginBtn a{
    padding-left:15px ;
 padding-right: 15px;
 font-size: 19px;
 font-weight: 500;
}

 /*  dropdown*/
 .dropdown{
    margin-top: 13px;
    display: flex;
    flex-flow: row nowrap;
    margin-right: auto;
    font-family:Metropolis Extra Light;
    color:#fff;
    font-size: 20px;
    font-weight:400;
    letter-spacing: 0;
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
 }
 .dropdown .dropdown-toggle {
color:#fff !important;
 }

 nav .list-item  .dropdown a:before {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
 nav .list-item  .dropdown a:hover {
    background-position: 0;
}
nav .list-item  .dropdown a:hover::before {
    width: 100%;
}
 /* end dropdown*/
 
 /*end nav*/
 
 /*header*/
 .home-header{
     background-image: url(../img/header.jpg);
     height:100vh;
     background-size: cover;
     text-align: center;
     background-color: rgba(0,0,0,.3);
     z-index: 100; 
    }
 header .content{
     width: 100%;
     margin-top:150px;
 }
 header .content .empowering-operators{
     font-family:Metropolis Extra Light;
     color: #fff;
     font-weight: 700;
     font-size: 3rem;
     line-height: 67px;
     text-align: center;
 }
 header .content p{
     font-family:Metropolis Extra Light;
     font-size: 24px;
     line-height: 40px;
     text-align: center;
     color: #fff;
     margin-top: 40px;
 }
 header .content .our-services{
     border-radius: 6px;
     font-weight: 700;
     display: flex;
     justify-content: center;
     align-items: center;
     background:#fff;
     width:221px;
     height:72px;
     font-size:18px;
     color: #439dd5;
     margin: 40px auto;
     font-family:Metropolis Extra Light;
 
 }
 
 header .content .our-services:hover{
     color:#fff;
     background:#439dd5;
 }
 /*end header*/
 
 /* media query */
 @media(max-width: 600px){
     header .content .empowering-operators {
         font-size:30px;
     }
     header .content p{
        margin-left: 10px;
        margin-right: 10px;
         font-size: 16px;
     }
     header .content{
         background-position: 0 -50px;
         margin-top:100px;}
         .nav{
            padding-left: 10px;}
     .nav .logo {
         width:70%;
         margin-left:0px;
     }
     header .content .our-services{
      margin-top:20px;
 
     }
     .nav  .fa-bars{
         display:block;
     }
    .nav  .fa-bars:hover{
         cursor: pointer;
     }
     .nav .list-item {
         display: block;
         height: auto;
         position:absolute;
         top:70px;
         right:0px;
         background-color: rgba(97, 155, 185, 0.9);
         width:60%;
         opacity:0;
         transition:0.5s;
         padding-left: 10px;
         margin: 0px;
       }
     .nav .list-item  .item {
         margin-bottom:20px;
         margin-top: 10px;
     }
     .nav .list-item  .item a:hover{
         background-position: 7% 30%, 40% bottom;}
           
         .nav .fa-bars:hover + .list-item{
             opacity: 1;
         }
         
 }
 @media(min-width: 600px) and (max-width:1114px){
    
     .nav .logo {
         width: 40%;
     }
     .nav .list-item{
        margin:0;
     }
     .nav{
        padding:0;
     }
     nav .list-item  .item a {
         padding: 15px 15px 20px 20px;
         font-size:20px;
     }
     .home-header{
         height:80vh; }
 }
 /* end media query */
/*end Navbar &Header Section */

/* start services section */
.services{
background-color: #fafafa;
}

.title-services{
    font-size: 37px;
    font-weight: 700;
    text-transform: capitalize;
    color: #373737;
    text-align: center;
    margin-top: 48px;
}
.description-services{
    font-size: 23px;
    font-weight: 500;
    color: #7d7d7d;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.desc-span{
    text-transform: capitalize;
}

.service{
    height: 300px;
    width: 344px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 20px 20px hsl(0deg 0% 87% / 6%);
    padding: 5px;
    cursor: pointer;
    margin: 2rem;
    transition :.1s;
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
}

.service:hover{
    border: 5px #4aa0da solid; 
}



.service-content{
    margin-top: 18px;
    color: #7d7d7d;
    text-align: start;
    letter-spacing: .44px;
    line-height: 28px;
    padding: 0 27px 27px;
    width: 340px;
    font-size: 18px;
}


.header-service{
    padding-right: 50px;
    margin-top: 15px;
    text-transform: capitalize;
    color: #373737;
    font-size: 24px;
    font-weight: 700;
    text-align: start;
}

.header-span{
text-transform: capitalize;
}


/* media query */

@media(max-width:767px){
    .title-services{
        font-size: 33px;
    }

    .description-services{
        font-size: 20px;
        width: 95%;
        margin: auto;
    }
    .service{
        height: 320px;
        width: 270px;
        margin:2rem;
        margin: auto;
        margin-bottom: 2rem;
    }

    .service-content{
    text-align: start;
    font-size: 16px;
    width: 270px;

    }

 
    .img-service{
        text-align: start;
        width: 40%;
        position: relative;
    }
    .header-service{
        font-size: 20px;
        font-weight: 700;
        display: inline-block;
        width: 30%;
        position: absolute;
        margin-top: -70px;
                
    }}
    
@media(min-width:768px) and (max-width:1200px){
        .title-services{
            font-size: 35px;
        }
        
        .description-services{
            font-size: 22px;
            font-weight: 500;
        }

        .service{
           margin:auto ;
           margin-bottom: 2rem;
            height: 300px;
            width: 310px;
         } 

         .service-content{
             width: 310px;
             font-size: 17px;
         }
          
         .header-service{
            font-size: 22px;
            margin-left: 15px;
         }
    }


/* end services section */
/*--------------------------------------------------------------
/* start clients section */


.head2{
    font-size: 37px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    color: #373737;
}

.clintt,.sec2{
   background-color:#fafafa ; 
}



.ctitl{
    color: #373737;
    font-family: Metropolis Bold,serif;
    font-size: 37px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
}


.section-description{
    color: #7d7d7d;
    font-family: Metropolis Regular,serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    margin-bottom: 40px;
}
.imgg{
width: 8%;
margin-left: 32%;

}

.crdimg{
    height: 350px;
   
}
.crdd{
    height: 600px;
}
.cr2{
    height: 300px;
}

/* end client section */
/* --------------------------------------------------------------
# career section */

.section-title {
    text-align: center;
    padding-bottom: 30px;
  
}
.section-title h2{
 color:#373737;
 font-size: 37px;
 font-weight: 650;
 margin-bottom: 15px;
}



.section-title h5{
    color:#373737;
    font-weight: 500;
    font-family: Metropolis Extra Light;
    font-size:25px;
}


.career-item a{
    color:#a5caec
}

.career-item{
  
    width: 70%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 54px 0 rgb(0 0 0 / 6%);
    padding: 15px;
    margin: auto;
    margin-bottom: 40px;
}
.career-item:hover{
    border: #a5caec 2px solid;
}
.career-item .career-desc{
  
    color: #666;
    font-family: Metropolis Extra Light;
    font-size: 18px;
    letter-spacing: 0;
 
    margin-top: 10px;
}


.career-location{
    width: 131px;
    color: #666;
    font-family: Metropolis Extra Light;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 14px;
    margin-top: 10px;
}

 .career-item .career-title{
    color: #2f87da;
    font-family: Metropolis Bold;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 28px;

}
.career-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.career-footer .more{
color: #2f87da;
width: 90px;
height: 30px;
font-size: 16px;
font-weight: 200;
background-color: #fff;
border: 1px solid #fff;
cursor: pointer;

}
 .career-footer .more i{
    padding-left: 10px;

}



/*****************#end of careers ******************/
.form-group label{
    color: #2f87da;
    font-size: 21px;
}
.modal-email span {
    color: #2f87da;
    font-size: 15px;
}


/*start about Section */
.about-us{
    background-image: url(../img/about-us.png);
    background-size: cover;
    background-position: 0 -200px;
    margin-top: 50px;
}
.aboutus{
    margin: auto;
    padding-bottom: 20px;
    font-family:Metropolis Extra Light;
    max-width: 1128px;
   }
.aboutus h2{
    font-size: 37px;
    font-weight: 700;
    text-transform: capitalize;
    color:#373737;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;     
}
.aboutus p{
    font-size: 23px;
    font-weight: 500;
    color: #7d7d7d;
}
/*end about Section */

/*start Footer Section */

footer{
    background-color:#12355d;
color:#fff;
font-family: Metropolis Extra Light;
height: 400px;
padding: 100px;}
footer .container .row .logo img{
    width: 200px;
    height: auto;
}
footer .container .row .col-md-6 .social-network{
 display:flex ;
 list-style-type:none;
 justify-content: space-between;
    width: 170px;
    font-size: 30px;
    margin-left: 180px;
}
footer .container .row .col-md-6:not(:first-child){
   text-align: center;

}
footer .container .row .col-md-6 .social-network li a i {
color:#fff;
}
footer >.container .row:not(:first-child) {
    border-top: 1px solid #ccc;
}
footer .container .row .copy p{
    margin-left:200px;
    margin-top: 30px;
}
 /* media query */
 @media(max-width: 600px){
    .aboutus p{
        font-size: 20px;
        margin: 50px;
    }
        footer{
            height: 1000px;
        }
        footer .container .row .col-md-6 .social-network,footer .container .row .copy p{
            margin-left: 0px;
        }
}
@media(min-width: 600px) and (max-width:1114px){
    .aboutus p{
        margin: 50px;
    }
    footer{
        height: 600px;
    }

footer .container .row .copy p,footer .container .row .col-md-6 .social-network{
    margin-left: 0px;
}

}
/* end media query */
/* end Footer Section */